body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(133deg, #191919, transparent);
    font-family: Arial, sans-serif;
}

#Calculator {
    background-color: rgb(46, 42, 42);
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    max-width: 400px;
    margin: 20px;
}

#display {
    width: 100%;
    padding: 20px;
    font-size: 2.5rem;
    text-align: left;
    background-color: #fff;
    border: none;
    box-sizing: border-box;
}

#key {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 20px;
    border: none;
    border-radius: 10px;
    font-size: 1.5rem;
    background-color: rgb(71, 71, 71);
    color: white;
    font-weight: bold;
    cursor: pointer;
    box-sizing: border-box;
}

button:hover {
    background-color: rgb(107, 107, 107);
}

button:active {
    background-color: rgb(175, 175, 175);
}

.operator-btn {
    background-color: orange;
}

.operator-btn:hover {
    background-color: rgb(255, 188, 62);
}

.operator-btn:active {
    background-color: rgb(255, 221, 158);
}

@media (min-width: 768px) {
    #Calculator {
        max-width: 600px;
    }

    #display {
        font-size: 4rem;
    }

    button {
        padding: 30px;
        font-size: 2rem;
        border-radius: 20px;
    }
}

